.ad-wrapper {
  margin-top: 10%;
  display: flex;
  justify-content: center;
}

.p-gallery {
  padding: 0% 20%;
  margin-top: 10%;
  margin-bottom: 10%;

  .body-text {
    line-height: 2.15em;
  }
}
