.ad-wrapper {
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;

  img {
    object-fit: cover;
    border-radius: 10px;
  }
}

.ad-cards {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(3, 1fr);
}

.card-wrapper {
  padding: 5% 5%;

  .title {
    text-align: center;
  }
}

.p-gallery {
  padding: 0% 10%;
  margin-top: 5%;
  margin-bottom: 5%;

  .body-text {
    line-height: 2.15em;
  }
}

.body-text {
  padding: 0% 4%;
  font-family: "Times New Roman", Times, serif !important;
}

.p-lightbox {
  padding: 0% 2%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.lightbox-content {
  // display: grid;
  // grid-template-columns: repeat(3, 1fr);
  column-count: 4;
  column-gap: 1.5rem;
  justify-items: center;
  padding: 2% 2%;
  a {
    margin-bottom: 5%;
  }
  img {
    cursor: pointer;
    // max-width: 100%;
    // max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
}

@media (max-width: 1490px) {
  .ad-cards {
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(2, 1fr);
  }
}
