.e-header {
  margin-top: 5%;
  margin-bottom: 3%;
  display: flex;
  justify-content: center;
  .text-h {
    text-align: center;
  }
}

.expression-gallery {
  margin-top: 4%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 1.5rem;

  justify-items: center;
  margin-bottom: 10%;
  padding: 0% 20%;
}

.card {
  button {
  }
  .grid-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
  }
}
