.e-header {
  margin-top: 5%;
  margin-bottom: 3%;
  display: flex;
  justify-content: center;
  .text-h {
    text-align: center;
  }
}

.expression-title {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

.expression-gallery {
  margin-top: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0.5rem;
  column-gap: 1.5rem;
  justify-items: center;
  margin-bottom: 10%;
  padding: 0% 20%;
}

.card {
  cursor: pointer;
  .grid-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
  }
}
