@font-face {
  font-family: "canniaregular";
  src: url("fonts/cannia-webfont.woff2") format("woff2"),
    url("fonts/cannia-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "canniaregular";
  src: url("fonts/cannia-webfont.woff2") format("woff2"),
    url("fonts/cannia-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #eae4dd;
  font-family: "canniaregular", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #eae4dd;
  border: 2px solid #000;
}

::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
}

.mask {
  display: none;
}

@import "./partials/header";
@import "./partials/footer";
@import "./partials/modalButtons";
@import "./partials/modalComp";
@import "./partials/expression";
@import "./partials/videoexpression";

@media (max-width: 1030px) {
  .layout-content {
    display: none;
  }

  @keyframes blink {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .mask {
    display: flex;
    justify-content: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    h2 {
      text-align: center;
      animation: blink infinite 2s ease-in-out;
      font-size: 20px;
    }
  }
}
